/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --fonts: 'IBM Plex Mono';
  --text-color: #f1b2ce;
  --text-accent-color: #000028;
  --accent-color: #ff0070;
  --bottom-focus-color: #ff0070;
  --bottom-hover-color: #ff007040;
  --title-color: #db00ff;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --bottom-color: var(--accent-color);
  --decor-color: var(--accent-color);
  --section-title-color: var(--accent-color);
  --rec: 1;
}


